
@{
    ViewBag.Title = "Tratamentos";
}


<section class="procedimentos">
    <div class="container">
        <h2>Nossos procedimentos</h2>
        <div class="wraper-procedimentos">
            <div class="procedimento-single">
                <img src="~/img/drenagem.jpg" />
                <div class="procedimento-info">
                    <h3>Drenagem linfática</h3>
                    <p>
                        Esse tratamento tem como objetivo aumentar o volume e a velocidade da linfa que vai ser 
                        transportada pelos vasos linfáticos, auxiliando na eliminação de toxinas e excessos de 
                        líquidos do organismo.
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=+5511989652235&text=Quero saber mais.">Fale com um dos nossos representantes</a>
                </div><!--procedimento-info-->
            </div><!--procedimentos-single-->
            <div class="procedimento-single">
                <img src="~/img/limpeza.jpg" />
                <div class="procedimento-info">
                    <h3>Limpeza de pele</h3>
                    <p>
                        A limpeza começa com a higienização para remover substâncias como a maquiagem, as 
                        impurezas e a gordura da pele. Em seguida, é realizada uma esfoliação para remover as 
                        células mortas e facilitar a eliminação dos cravos.
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=+5511989652235&text=Quero saber mais.">Fale com um dos nossos representantes</a>
                </div><!--procedimento-info-->
            </div><!--procedimentos-single-->
            <div class="procedimento-single">
                <img src="~/img/agulha.jpg" />
                <div class="procedimento-info">
                    <h3>Microagulhamento</h3>
                    <p>
                        O microagulhamento é um procedimento estético que por meio de várias agulhas aumenta a 
                        vasodilatação e estimula a produção de colágeno. Indicado para diminuir manchas, rugas, 
                        das linhas de expressão, promovendo o rejuvenescimento facial e clareamento da pele.
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=+5511989652235&text=Quero saber mais.">Fale com um dos nossos representantes</a>
                </div><!--procedimento-info-->
            </div><!--procedimentos-single-->
        </div><!--wraper-procedimentos-->
    </div><!--container-->
</section><!--procedimentos-->