@model NarcissusSystem.Models.Cliente

@{
    ViewBag.Title = "CadCliente";
}
<br />


<style>
    .cad {
        text-align: center;
    }

        .cad h2 {
            color: #f64c2d
        }
</style>


<div class="cad">
    <h2>Dados Cadastrados com sucesso!</h2>
    <br />
    <p>@Html.ActionLink("Voltar", "Cliente")</p>
    <p>@Html.ActionLink("Visualizar Cliente", "ListarCliente")</p>
</div>
