@model NarcissusSystem.Models.Procedimento

@{
    ViewBag.Title = "CadProcedimento";
}
<br />

<style>
    .cad {
        text-align: center;
    }

        .cad h2 {
            color: #f64c2d
        }
</style>


<div class="cad">
    <h2>Dados do Procedimento Cadastrados com sucesso!</h2>
    <br />
    <p>@Html.ActionLink("Voltar", "Procedimento")</p>
    <p>@Html.ActionLink("Visualizar Procedimento", "ListarProcedimento")</p>
</div>
